body {
  margin: 0;
}

.youtube-header-container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.youtube-header-container > div {
  margin: auto 0;
}

.youtube-header-container #search-bar {
  height: 50%;
  margin: auto 0;
}

.youtube-header-container .guide {
  display: flex;
}

.columns-div {
  margin: 0 75px;
  display: flex;

  margin-bottom: 200px;
}

.columns-div > div {
  padding-top: 24px;
  padding-right: 24px;
}

.left-div-container {
  max-width: 60%;
}
.right-division-container {
  flex-direction: column;
}

.left-div-container .video-elements-container {
  display: flex;
  justify-content: space-between;
}

.video-elements-container .video-elements-left,
.video-elements-container .video-elements-right {
  display: flex;
  color: gray;
}

.comment-post-container {
  margin: 24px 0 32px 0;
}

.comments-info {
  display: flex;
}
.comments-info .number-of-comments {
  margin-right: 32px;
}
.comments-info .number-of-comments h2 {
  /* margin: 0 32px 0 0; */
  margin: 0;
}

.comments-add {
  display: flex;
}
.top-video-controls {
  display: flex;
  justify-content: space-between;
}
.videos-section img {
  width: 168px;
  height: 94px;
  margin-right: 8px;
}
.videos-section {
  display: flex;
  flex-direction: row;
}
.video-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}
.text {
  font-size: 13px;
  color: gray;
  margin: auto;
  vertical-align: middle;
}
.yt-icon {
  width: 20px;
}
.normal-text {
  /* color = gray; */
}
.thumbs {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}
svg {
  fill: currentColor;
}
hr {
  height: 1px;
  border: none;
  background-color: lightgray;
}
.sentient-bar {
  height: 2px;
  background-color: darkgray;
  width: 10.5%;
  margin-left: 252px;
  display: inline-block;
  position: absolute;
  padding-top: 6px;
}
.channel-thumbnail {
  display: flex;
  justify-content: flex-start;
}
.channel-thumbnail div {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}
.channel-name-container {
  margin: 5px;
}
.video-description-text {
  margin-left: 53px;
}
.video-description-container img {
  height: 48px;
  border: 1px solid gray;
  border-radius: 100%;
}

.comments-info {
  margin-bottom: 24px;
}
.sort-comments {
  display: flex;
  color: gray;
  align-items: center;
  font-weight: bold;
}
.sort-comments .yt-icon {
  margin-right: 8px;
}

.user-thumbnail {
  margin-right: 16px;
}
.user-thumbnail img {
  height: 40px;
  width: 40px;
}
.comments-add .add-comment {
  border: none;
  border-bottom: 1px solid lightgray;
}

.comments-add .user-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-container {
  display: flex;
  flex-direction: column;
}
.comment-item {
  display: flex;
  margin-bottom: 16px;
}
.user-comment-info {
  flex-direction: column;
}
.comment-container img {
  width: 40px;
  height: 40px;
}
.user-comment p {
  margin: 0;
}
.user-name,
.user-comment {
  margin-bottom: 2px;
  flex-direction: column;
}
.user-name {
  font-weight: bold;
}
.user-name span {
  font-weight: initial;
}
.user-name span {
  color: gray;
  /* display: inline; */
}

.comment-toolbar {
  display: flex;
  color: gray;
  font-weight: bold;
  margin-top: 10px;
}
.comment-toolbar svg {
  fill: currentColor;
}
.comment-toolbar span {
  margin-left: 6px;
  align-self: center;
}
.user-comment-dislike,
.user-comment-like,
.reply-button {
  display: flex;
  margin-right: 15px;
}
